@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow-x: hidden;
}

.font-pacifico{
    font-family: 'Pacifico', sans-serif;
}

.font-bg {
    font-family: 'Brygada 1918 Variable', sans-serif;
}

.font-gg{
    font-family: 'Grenze Gotisch Variable', sans-serif;
}