@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    /* overflow-x: hidden; */
    width: 100vw;
}

.font-pacifico {
    font-family: 'Pacifico', sans-serif;
}

.font-bg {
    font-family: 'Outfit Variable', sans-serif;
}

.theme-button{
    -webkit-tap-highlight-color: transparent;
}


:root {
    --main-color: #fe9736;
}

.no-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.pricingTable.Table-light {
    /* color: #fff; */
    background: linear-gradient(#fff, #fff, var(--main-color), #fff, #fff);
    /* font-family: 'Open Sans', sans-serif; */
    text-align: center;
    padding: 0 0 25px;
    border-radius: 25px 0 25px 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.pricingTable.Table-dark {
    /* color: #fff; */
    background: linear-gradient(#7b7b7b, #7b7b7b, var(--main-color), #7b7b7b, #7b7b7b);
    /* font-family: 'Open Sans', sans-serif; */
    text-align: center;
    padding: 0 0 25px;
    border-radius: 25px 0 25px 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pricingTable .pricingTable-header {
    background: var(--main-color);
    padding: 15px 15px;
    margin: 0 25px 25px;
    border-radius: 0 0 30px 30px;
    transform: translateY(-10px);
    position: relative;
}

.pricingTable .pricingTable-header:before {
    content: "";
    background: linear-gradient(to top right, var(--main-color) 48%, transparent 50%);
    width: 15px;
    height: 10px;
    position: absolute;
    top: 0;
    right: -15px;
}

.pricingTable .title {
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.pricingTable .pricing-content {
    background: var(--main-color);
    padding: 20px 0;
    margin: 0 0 25px;
    list-style: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7) inset;
}

.pricingTable .pricing-content li {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 15px;
}

.pricingTable .pricing-content li:last-child {
    margin: 0;
}

.pricingTable .price-value {
    margin: 0 0 25px;
}

.pricingTable .price-value .amount {
    /* color: #222; */
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    display: inline-block;
}

.pricingTable .price-value .duration {
    /* color: #999; */
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 0 -10px;
    vertical-align: bottom;
    display: inline-block;
}

.pricingTable .pricingTable-signup a {
    color: var(--main-color);
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 3px 25px 4px;
    border-radius: 30px;
    border: 2px solid var(--main-color);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.pricingTable .pricingTable-signup a:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: #fff;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
}

.pricingTable.red {
    --main-color: #f73b3b;
}

.pricingTable.green {
    --main-color: #2AB69C;
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin: 0 0 40px;
    }
}


.box{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.box:hover{ box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.box:hover img{ filter: blur(5px); }
.box .box-content{
    color: #ac33b2;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 80%;
    padding: 15px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.35s ease 0s;
}
.box:hover .box-content{ opacity: 1;  }
.box .title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.box .post{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: lowercase;
    display: block;
    margin: 0 0 10px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: 15px;
    right: 5px;
    transition: all .5s ease 0s;
}
.box:hover .icon{
    opacity: 1;
    bottom: -15px;
}
.box .icon li{ display: inline-block; }
.box .icon li a{
    color: #fff;
    background: #ac33b2;
    font-size: 18px;
    line-height: 32px;
    width: 35px;
    height: 35px;
    border: 2px solid transparent;
    display: block;
    transition: all 0.3 ease 0s;
}
.box .icon li a:hover{
    color: #ac33b2;
    background: #fff;
    border-color: #ac33b2;
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}
/* .formfoodies{ */
  
.formfoodies .d-flex { 
    display: flex!important;
} 



@media (min-width: 768px){ 
  .formfoodies .col-md-7 { 
    flex: 0 0 auto; 
    width: 58.33333333%;
  } 
}     

@media (min-width: 992px){ 
  .formfoodies .col-lg-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

.formfoodies .my-5 { 
    margin-bottom: 3rem!important; 
    margin-top: 3rem!important;
} 

.formfoodies .me-2 { 
    margin-right: .5rem!important;
} 

.formfoodies .p-5 { 
    padding: 3rem!important;
} 

.formfoodies .fw-bolder { 
    font-weight: bolder!important;
} 

.formfoodies .text-dark { 
    --bs-text-opacity: 1; 
    color: rgba(33,37,41,var(--bs-text-opacity))!important; 
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
} 

.formfoodies .contact-fp-div { 
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    background: hsla(0,0%,100%,.45); 
    border: 1px solid hsla(0,0%,100%,.18); 
    border-radius: 10px; 
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
} 

.formfoodies *,:after,:before { 
    font-family: Arial,Helvetica,sans-serif;
} 

.formfoodies *,:after,:before { 
    border: 0 solid #e5e7eb; 
    box-sizing: border-box;
} 

.formfoodies h4 { 
    font-weight: 500; 
    line-height: 1.2; 
    margin-bottom: .5rem; 
    margin-top: 0;
} 

.formfoodies h4 { 
    font-size: calc(1.275rem + .3vw);
} 

@media (min-width: 1200px){ 
  .formfoodies h4 { 
    font-size: 1.5rem;
  } 
}     

.formfoodies h4 { 
    font-size: inherit; 
    font-weight: inherit;
} 

.formfoodies h4 { 
    margin: 0;
} 

.formfoodies .display-6 { 
    font-size: calc(1.375rem + 1.5vw); 
    font-weight: 300; 
    line-height: 1.2;
} 

@media (min-width: 1200px){ 
  .formfoodies .display-6 { 
    font-size: 2.5rem;
  } 
}     

.formfoodies .mb-3 { 
    margin-bottom: 1rem!important;
} 

.formfoodies .font-bg { 
    font-family: 'Outfit Variable',sans-serif;
} 

.formfoodies .row { 
    --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0; 
    display: flex; 
    flex-wrap: wrap; 
    margin-left: calc(var(--bs-gutter-x)*-.5); 
    margin-right: calc(var(--bs-gutter-x)*-.5); 
    margin-top: calc(var(--bs-gutter-y)*-1);
} 

.formfoodies .g-3 { 
    --bs-gutter-x: 1rem;
} 

.formfoodies .g-3 { 
    --bs-gutter-y: 1rem;
} 

.formfoodies hr { 
    border: 0; 
    border-top: 1px solid; 
    margin: 1rem 0; 
    opacity: .25;
} 

.formfoodies hr { 
    border-top-width: 1px; 
    color: inherit; 
    height: 0;
} 

.formfoodies hr { 
    margin: 0;
} 

.formfoodies .my-4 { 
    margin-bottom: 1.5rem!important; 
    margin-top: 1.5rem!important;
} 

.formfoodies .form-check { 
    display: block; 
    margin-bottom: .125rem; 
    min-height: 1.5rem; 
    padding-left: 1.5em;
} 

.formfoodies .justify-content-center { 
    justify-content: center!important;
} 

.formfoodies .align-items-center { 
    align-items: center!important;
} 

.formfoodies .row > *  { 
    flex-shrink: 0; 
    margin-top: var(--bs-gutter-y); 
    max-width: 100%; 
    padding-left: calc(var(--bs-gutter-x)*.5); 
    padding-right: calc(var(--bs-gutter-x)*.5); 
    width: 100%;
} 

@media (min-width: 576px){ 
  .formfoodies .col-sm-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

@media (min-width: 768px){ 
  .formfoodies .col-md-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

.formfoodies .col-12 { 
    flex: 0 0 auto; 
    width: 100%;
} 

.formfoodies input { 
    font-size: inherit;
} 

.formfoodies input { 
    color: inherit; 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    margin: 0; 
    padding: 0;
} 

.formfoodies .form-check-input { 
    -webkit-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    background-position: 50%; 
    background-repeat: no-repeat; 
    background-size: contain; 
    border: 1px solid rgba(0,0,0,.25); 
    height: 1em; 
    margin-top: .25em; 
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
    vertical-align: top; 
    width: 1em; 
    background-repeat: no-repeat; 
} 

.formfoodies .form-check .form-check-input  { 
    float: left; 
    margin-left: -1.5em;
} 

.formfoodies .form-check-input[type="checkbox"] { 
    border-radius: .25em;
} 

.formfoodies .form-check-input:checked { 
    background-color: #0d6efd; 
    border-color: #0d6efd;
} 

.formfoodies .form-check-input:checked[type="checkbox"] { 
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3E%3C/svg%3E");
} 

.formfoodies label { 
    display: inline-block;
} 

.formfoodies button { 
    border-radius: 0;
} 

.formfoodies button { 
    font-size: inherit;
} 

.formfoodies button { 
    color: inherit; 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    margin: 0; 
    padding: 0;
} 

.formfoodies button { 
    text-transform: none;
} 

.formfoodies button { 
    cursor: pointer;
} 

.formfoodies .btn { 
    --bs-btn-padding-x: 0.75rem; 
    --bs-btn-padding-y: 0.375rem; 
    --bs-btn-font-size: 1rem; 
    --bs-btn-font-weight: 400; 
    --bs-btn-line-height: 1.5; 
    --bs-btn-color: #212529; 
    --bs-btn-bg: transparent; 
    --bs-btn-border-width: 1px; 
    --bs-btn-border-color: transparent; 
    --bs-btn-border-radius: 0.375rem; 
    --bs-btn-hover-border-color: transparent; 
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5); 
    background-color: var(--bs-btn-bg); 
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color); 
    border-radius: var(--bs-btn-border-radius); 
    color: var(--bs-btn-color); 
    cursor: pointer; 
    display: inline-block; 
    font-family: var(--bs-btn-font-family); 
    font-size: var(--bs-btn-font-size); 
    font-weight: var(--bs-btn-font-weight); 
    line-height: var(--bs-btn-line-height); 
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x); 
    text-align: center; 
    text-decoration: none; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    -webkit-user-select: none; 
    user-select: none; 
    vertical-align: middle;
} 

.formfoodies .btn-primary { 
    --bs-btn-color: #fff; 
    --bs-btn-bg: #0d6efd; 
    --bs-btn-border-color: #0d6efd; 
    --bs-btn-hover-color: #fff; 
    --bs-btn-hover-bg: #0b5ed7; 
    --bs-btn-hover-border-color: #0a58ca; 
    --bs-btn-focus-shadow-rgb: 49,132,253; 
} 

.formfoodies .btn-lg { 
    --bs-btn-padding-y: 0.5rem; 
    --bs-btn-padding-x: 1rem; 
    --bs-btn-font-size: 1.25rem; 
    --bs-btn-border-radius: 0.5rem;
} 

.formfoodies .w-50 { 
    width: 50%!important;
} 

.formfoodies [type="submit"],button { 
    -webkit-appearance: button;
    appearance: button; 
    background-color: initial; 
    background-image: none;
} 

.formfoodies .btn { 
    background: linear-gradient(135deg,#f5a878,#f5a878 22%,#f79c63 0,#f79c63 28%,#f77728 0,#f77728 72%,#f56207 0,#f56207); 
    background-position: 0 0; 
    background-size: 200% 100%; 
    border: none; 
    border-radius: 32px; 
    color: #000; 
    font-family: poppins,sans-serif; 
    font-weight: 700; 
    padding: 13px 20px 12px; 
    position: relative; 
    text-transform: uppercase; 
    transition: all .6s ease 0s; 
    z-index: 1;
} 

.formfoodies [type="submit"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.formfoodies .btn:before { 
    background-color: #fff; 
    border-radius: 50px; 
    bottom: 6px; 
    content: ""; 
    left: 6px; 
    position: absolute; 
    right: 6px; 
    top: 6px; 
    transition: all .5s; 
    z-index: -1;
} 

.formfoodies .btn:hover { 
    background-color: var(--bs-btn-hover-bg); 
    border-color: var(--bs-btn-hover-border-color); 
    color: var(--bs-btn-hover-color);
} 

.formfoodies .btn:hover { 
    background-position: 100% 0; 
    color: #fff;
} 

.formfoodies .btn:hover:before { 
    opacity: 0;
} 

.formfoodies .form-label { 
    margin-bottom: .5rem;
} 

.formfoodies .form-control { 
    -webkit-appearance: none; 
    appearance: none; 
    background-clip: padding-box; 
    background-color: #fff; 
    border: 1px solid #ced4da; 
    border-radius: .375rem; 
    color: #212529; 
    display: block; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    padding: .375rem .75rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    width: 100%;
} 

.formfoodies .invalid-feedback { 
    color: #dc3545; 
    display: none; 
    font-size: .875em; 
    margin-top: .25rem; 
    width: 100%;
} 

.formfoodies .input-group { 
    align-items: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    position: relative; 
    width: 100%;
} 

.formfoodies select { 
    font-size: inherit;
} 

.formfoodies select { 
    word-wrap: normal;
} 

.formfoodies select { 
    color: inherit; 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    margin: 0; 
    padding: 0;
} 

.formfoodies select { 
    text-transform: none;
} 

.formfoodies .form-select { 
    -moz-padding-start: calc(.75rem - 3px); 
    -webkit-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E"); 
    background-position: right .75rem center; 
    background-repeat: no-repeat; 
    background-size: 16px 12px; 
    border: 1px solid #ced4da; 
    border-radius: .375rem; 
    color: #212529; 
    display: block; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    padding: .375rem 2.25rem .375rem .75rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    width: 100%; 
    background-repeat: no-repeat; 
} 

.formfoodies small { 
    font-size: .875em;
} 

.formfoodies small { 
    font-size: 80%;
} 

.formfoodies .text-muted { 
    --bs-text-opacity: 1; 
    color: #6c757d!important;
} 

.formfoodies textarea { 
    font-size: inherit;
} 

.formfoodies textarea { 
    color: inherit; 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    margin: 0; 
    padding: 0;
} 

.formfoodies textarea { 
    resize: vertical;
} 

.formfoodies textarea.form-control { 
    min-height: calc(1.5em + .75rem + 2px);
} 


.formfoodies .input-group-text { 
    align-items: center; 
    background-color: #e9ecef; 
    border: 1px solid #ced4da; 
    border-radius: .375rem; 
    color: #212529; 
    display: flex; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    padding: .375rem .75rem; 
    text-align: center; 
    white-space: nowrap;
} 

.formfoodies .input-group.has-validation > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating)  { 
    border-bottom-right-radius: 0; 
    border-top-right-radius: 0;
} 

.formfoodies .input-group > .form-control  { 
    flex: 1 1 auto; 
    min-width: 0; 
    position: relative; 
    width: 1%;
} 

.formfoodies .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback)  { 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0; 
    margin-left: -1px;
} 


.service-overflow-hidden{
    overflow-x: hidden;
}